body {
    color: #313130;
    background-color: #ffeece;
    font-family: "Arial";
  }
  .jumbotron {
    background-image: url("../images/bacteria_pic.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #fffbf2;
    font-family: "Arial";

  }

  .well {
    background-color: #3e81be;
    color: #0c0b0a;
    
  }

  .panel-body {
    font-family: "Arial";
    font-weight: bold;
  }